<h2> 
  <%= flash[:notice] %>
</h2>

<center>
<h2> Log into your account </h2>
<form action="/sessions" method="post">
  <input type="email" placeholder="Email" name="email"><br>
  <input type="password" placeholder="Password" name="password"><br>
  <input type='submit' value="Submit">
</form>
</center>