<h1 align='center'> Rock | Paper | Scissors </h1>

<h2 align='center'> <%= @player_1_name %> Vs Computer </h2>

<h3 align='center'> Choose one of the following options: </h3>

<form action='/outcome' method='post' align='center'>
<input type='submit' name='player_shape' value='Rock'>
<input type='submit' name='player_shape' value='Paper'>
<input type='submit' name='player_shape' value='Scissors'>
</form>
