<h1> Welcome to Battle! </h1>
<form action='/names' method='post'>
<label for='player1_name'>
Player 1
<input name='player1_name' type='text'>
</label>
<label for='player2_name'>
Player 2
<input name='player2_name' type='text'><br>
</label>
<input type='submit' value="Submit">
</form>