<h1> Welcome to Battle! </h1>
<form action='/names' method='post'>
<label for='player1'>
Player 1
<input name='player1' type='text'>
</label>
<label for='player2'>
Player 2
<input name='player2' type='text'><br>
</label>
<input type='submit' value="Submit">
</form>